# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Build
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# OpenZeppelin
.openzeppelin/

# Backup
backup_*/
